In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
customers = pd.read_csv("EDA-Phase-1/customers.csv")
accounts = pd.read_csv("EDA-Phase-1/accounts.csv")
linkage = pd.read_csv("EDA-Phas -1/customer_account_linkage.csv")
products = pd.read_csv("EDA-Phase-1/product_details.csv")
labels = pd.read_csv("EDA-Phase-1/train_labels.csv")
test = pd.read_csv("EDA-Phase-1/test_accounts.csv")

# Transactions are split across 6 files due to GitHub size limits — concatenate them
transactions = pd.concat(
    [pd.read_csv(f"EDA-Phase-1/transactions_part_{i}.csv") for i in range(6)],
    ignore_index=True
)

In [11]:
# for name, df in [("customers", customers), ("accounts", accounts),
#                  ("linkage", linkage), ("products", products),
#                  ("labels", labels), ("transactions", transactions)]:
#     print(f"\n{'='*40}")
#     print(f"{name}: {df.shape}")
#     print(df.dtypes)
#     print(f"\nMissing values:\n{df.isnull().sum()}")

In [10]:
print(labels["is_mule"].value_counts())
print(f"Mule rate: {labels['is_mule'].mean():.4f}")

is_mule
0    23760
1      263
Name: count, dtype: int64
Mule rate: 0.0109

In [12]:
labels.sample(10)

        account_id  is_mule mule_flag_date alert_reason  flagged_by_branch
23443  ACCT_167879        0            NaN          NaN                NaN
3551   ACCT_196409        0            NaN          NaN                NaN
21565  ACCT_187961        0            NaN          NaN                NaN
5101   ACCT_013282        0            NaN          NaN                NaN
19082  ACCT_134823        0            NaN          NaN                NaN
8961   ACCT_009310        0            NaN          NaN                NaN
19642  ACCT_171726        0            NaN          NaN                NaN
21274  ACCT_006755        0            NaN          NaN                NaN
14665  ACCT_103835        0            NaN          NaN                NaN
1700   ACCT_104494        0            NaN          NaN                NaN

In [13]:
labels.isnull().sum()

account_id               0
is_mule                  0
mule_flag_date       23760
alert_reason         23781
flagged_by_branch    23760
dtype: int64

In [14]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24023 entries, 0 to 24022
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   account_id         24023 non-null  object
 1   is_mule            24023 non-null  int64
 2   mule_flag_date     263 non-null    object
 3   alert_reason       242 non-null    object
 4   flagged_by_branch  263 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 938.5+ KB

In [26]:
labels.account_id.nunique()

24023

In [28]:
for col in labels.columns.drop(["account_id"]):
    print(f"{col}: {labels[col].nunique()}")

is_mule: 2
mule_flag_date: 172
alert_reason: 13
flagged_by_branch: 162

In [30]:
labels.notnull().sum()

account_id           24023
is_mule              24023
mule_flag_date         263
alert_reason           242
flagged_by_branch      263
dtype: int64

In [35]:
test.info()
test.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16015 entries, 0 to 16014
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   account_id  16015 non-null  object
dtypes: object(1)
memory usage: 125.2+ KB

        account_id
7137   ACCT_087477
2958   ACCT_198608
12288  ACCT_042908
15604  ACCT_090495
10765  ACCT_035541
13547  ACCT_050095
3111   ACCT_073626
15087  ACCT_030776
4403   ACCT_011286
6996   ACCT_153456

In [36]:
customers.sample(5)

,customer_id,date_of_birth,relationship_start_date,pan_available,aadhaar_available,passport_available,mobile_banking_flag,internet_banking_flag,atm_card_flag,demat_flag,credit_card_flag,fastag_flag,customer_pin,permanent_pin
27701,CUST_137205,1959-11-10,2021-10-22,Y,NaN,N,N,N,Y,N,N,N,641011,641011
9071,CUST_045207,1983-11-29,2006-04-21,Y,Y,N,Y,Y,N,N,N,N,211014,211014
4960,CUST_024470,1994-09-17,2010-12-12,NaN,NaN,N,N,Y,Y,N,N,N,226038,226038
2944,CUST_014519,1948-02-28,2017-03-05,Y,N,N,Y,N,N,N,N,N,614029,614029
6789,CUST_033511,1975-12-16,2009-06-27,Y,N,N,N,Y,Y,N,Y,N,421010,421010

In [37]:
customers.isnull().sum()

customer_id                   0
date_of_birth                 0
relationship_start_date       0
pan_available              5732
aadhaar_available          9708
passport_available            0
mobile_banking_flag           0
internet_banking_flag         0
atm_card_flag                 0
demat_flag                    0
credit_card_flag              0
fastag_flag                   0
customer_pin                  0
permanent_pin                 0
dtype: int64

In [38]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39988 entries, 0 to 39987
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              39988 non-null  object
 1   date_of_birth            39988 non-null  object
 2   relationship_start_date  39988 non-null  object
 3   pan_available            34256 non-null  object
 4   aadhaar_available        30280 non-null  object
 5   passport_available       39988 non-null  object
 6   mobile_banking_flag      39988 non-null  object
 7   internet_banking_flag    39988 non-null  object
 8   atm_card_flag            39988 non-null  object
 9   demat_flag               39988 non-null  object
 10  credit_card_flag         39988 non-null  object
 11  fastag_flag              39988 non-null  object
 12  customer_pin             39988 non-null  int64
 13  permanent_pin            39988 non-null  int64
dtypes: int64(2), object(12)
memory usage: 4.3+ MB

In [40]:
customers.customer_id.nunique()

39988

In [41]:
accounts.sample(10)

,account_id,account_status,product_code,currency_code,account_opening_date,branch_code,branch_pin,avg_balance,product_family,nomination_flag,...,num_chequebooks,last_mobile_update_date,kyc_compliant,last_kyc_date,rural_branch,monthly_avg_balance,quarterly_avg_balance,daily_avg_balance,freeze_date,unfreeze_date
12863,ACCT_064148,active,169,1,2023-11-09,5114,248046.0,17334.69,S,Y,...,2,NaN,Y,2024-07-19,N,16029.79,13431.35,16217.68,NaN,NaN
29785,ACCT_148319,active,187,1,2017-04-21,4400,342039.0,17656.87,S,Y,...,2,2025-06-20,Y,2022-08-25,N,14326.13,20136.39,25809.02,NaN,NaN
22947,ACCT_113853,frozen,191,1,2023-07-24,4249,400007.0,-33974.40,K,N,...,2,NaN,Y,2021-08-07,N,-40509.85,-35901.56,-26164.34,2022-10-01,NaN
9400,ACCT_047167,active,100,1,2023-02-28,6945,211040.0,18161.77,S,Y,...,0,NaN,Y,2021-08-17,N,20095.04,16594.36,22043.85,NaN,NaN
4449,ACCT_021975,active,169,1,2023-10-24,2982,249019.0,81.87,S,N,...,1,NaN,Y,2023-03-16,N,85.75,85.61,74.55,NaN,NaN
25827,ACCT_128466,active,101,1,2017-05-11,4789,144013.0,0.00,S,N,...,3,2025-01-31,Y,2023-11-29,N,0.00,0.00,0.00,NaN,NaN
7568,ACCT_037538,active,193,1,2023-04-24,5028,143046.0,21689.06,K,N,...,0,NaN,Y,2025-04-24,N,17796.98,27763.84,22805.96,NaN,NaN
5204,ACCT_025828,active,113,1,2023-06-10,7623,342006.0,33166.01,S,N,...,0,2025-05-03,Y,2023-10-20,N,33568.96,37602.79,36396.67,NaN,NaN
19339,ACCT_095928,active,187,1,2023-03-03,7730,440022.0,NaN,S,Y,...,0,NaN,Y,2024-01-19,N,NaN,12633.09,15316.41,NaN,NaN
24615,ACCT_122178,active,191,1,2023-02-02,2680,625055.0,16447.36,K,N,...,0,NaN,Y,2022-08-06,Y,18186.49,20868.16,16944.02,NaN,NaN

In [42]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40038 entries, 0 to 40037
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   account_id               40038 non-null  object
 1   account_status           40038 non-null  object
 2   product_code             40038 non-null  int64
 3   currency_code            40038 non-null  int64
 4   account_opening_date     40038 non-null  object
 5   branch_code              40038 non-null  int64
 6   branch_pin               38029 non-null  float64
 7   avg_balance              38835 non-null  float64
 8   product_family           40038 non-null  object
 9   nomination_flag          40038 non-null  object
 10  cheque_allowed           40038 non-null  object
 11  cheque_availed           40038 non-null  object
 12  num_chequebooks          40038 non-null  int64
 13  last_mobile_update_date  6037 non-null   object
 14  kyc_compliant            40038 non-null  object
 15  last_kyc_date            40038 non-null  object
 16  rural_branch             40038 non-null  object
 17  monthly_avg_balance      38835 non-null  float64
 18  quarterly_avg_balance    40038 non-null  float64
 19  daily_avg_balance        40038 non-null  float64
 20  freeze_date              1317 non-null   object
 21  unfreeze_date            425 non-null    object
dtypes: float64(5), int64(4), object(13)
memory usage: 6.7+ MB

In [43]:
accounts.isnull().sum()

account_id                     0
account_status                 0
product_code                   0
currency_code                  0
account_opening_date           0
branch_code                    0
branch_pin                  2009
avg_balance                 1203
product_family                 0
nomination_flag                0
cheque_allowed                 0
cheque_availed                 0
num_chequebooks                0
last_mobile_update_date    34001
kyc_compliant                  0
last_kyc_date                  0
rural_branch                   0
monthly_avg_balance         1203
quarterly_avg_balance          0
daily_avg_balance              0
freeze_date                38721
unfreeze_date              39613
dtype: int64

In [44]:
accounts.account_id.nunique()

40038

In [45]:
products.sample(5)

,customer_id,loan_sum,loan_count,cc_sum,cc_count,od_sum,od_count,ka_sum,ka_count,sa_sum,sa_count
6265,CUST_030926,NaN,0,-42421.42,2,0.0,0,5988.42,1,0.00,0
33152,CUST_164322,NaN,0,NaN,0,0.0,0,0.00,0,0.00,1
29029,CUST_143916,-466813.34,3,NaN,0,0.0,0,0.00,0,334.93,1
5757,CUST_028363,NaN,0,NaN,0,0.0,0,0.00,0,9956.36,1
513,CUST_002432,NaN,0,-56926.83,2,0.0,0,0.00,0,106001.43,1

In [46]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39988 entries, 0 to 39987
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  39988 non-null  object
 1   loan_sum     8503 non-null   float64
 2   loan_count   39988 non-null  int64
 3   cc_sum       6301 non-null   float64
 4   cc_count     39988 non-null  int64
 5   od_sum       39988 non-null  float64
 6   od_count     39988 non-null  int64
 7   ka_sum       39988 non-null  float64
 8   ka_count     39988 non-null  int64
 9   sa_sum       39988 non-null  float64
 10  sa_count     39988 non-null  int64
dtypes: float64(5), int64(5), object(1)
memory usage: 3.4+ MB

In [47]:
products.customer_id.nunique()

39988

In [48]:
products.isnull().sum()

customer_id        0
loan_sum       31485
loan_count         0
cc_sum         33687
cc_count           0
od_sum             0
od_count           0
ka_sum             0
ka_count           0
sa_sum             0
sa_count           0
dtype: int64

In [49]:
customers.customer_id.nunique()

39988

In [50]:
linkage.sample(5)

       customer_id   account_id
14694  CUST_073010  ACCT_073224
22703  CUST_112362  ACCT_112699
8593   CUST_042613  ACCT_042734
22595  CUST_111816  ACCT_112151
13971  CUST_069521  ACCT_069725

In [51]:
linkage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40038 entries, 0 to 40037
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  40038 non-null  object
 1   account_id   40038 non-null  object
dtypes: object(2)
memory usage: 625.7+ KB

In [52]:
linkage.customer_id.nunique(), linkage.account_id.nunique()

(39988, 40038)

In [53]:
transactions.sample(20)

,transaction_id,account_id,transaction_timestamp,mcc_code,channel,amount,txn_type,counterparty_id
1195069,TXN_28244636,ACCT_154101,2023-03-16T16:08:28,2017,UPD,3500.00,D,CP_091417
323380,TXN_16511138,ACCT_089823,2021-07-05T20:01:35,6300,UPD,552.49,C,CP_056684
1220866,TXN_25821895,ACCT_140772,2023-03-25T18:42:07,9355,UPD,67.54,C,CP_083410
1049708,TXN_24923390,ACCT_136054,2023-01-10T15:00:16,6011,UPD,13600.00,D,CP_002853
4809004,TXN_26035874,ACCT_142097,2024-10-04T11:42:52,2199,UPC,8230.62,C,CP_016447
6547249,TXN_06120270,ACCT_033152,2025-04-08T11:43:24,5905,UPD,1500.00,D,CP_017458
6291193,TXN_10644629,ACCT_057299,2025-03-14T01:25:41,5651,UPD,278.41,D,CP_080220
467388,TXN_27259937,ACCT_148633,2021-11-17T15:15:44,9384,APD,1000.00,D,CP_046467
3182415,TXN_21619029,ACCT_118079,2024-03-18T17:03:49,9384,UPD,51.11,C,CP_047629
4912488,TXN_21482725,ACCT_117296,2024-10-16T14:48:17,9384,UPC,672.04,D,CP_076978
4689637,TXN_24004524,ACCT_131163,2024-09-20T10:15:54,9355,UPD,552.71,D,CP_035721
206941,TXN_09418344,ACCT_050600,2021-03-09T22:37:40,2943,UPC,43642.68,D,CP_023852
5349933,TXN_06807232,ACCT_036827,2024-12-04T21:19:56,5905,UPC,200.00,D,CP_057984
1067477,TXN_18769189,ACCT_102127,2023-01-19T21:55:14,5651,MCR,48.87,D,CP_051052
1070678,TXN_00414290,ACCT_002178,2023-01-21T20:07:41,9384,UPC,500.00,C,CP_076108
2321429,TXN_30869692,ACCT_169174,2023-11-21T19:54:38,9384,UPD,29.21,C,CP_033084
6363278,TXN_07348273,ACCT_039788,2025-03-21T03:46:58,9384,UPC,1000.00,D,CP_026689
7037711,TXN_28950734,ACCT_158054,2025-05-24T05:38:59,9355,UPC,1580.07,D,CP_097436
7142516,TXN_07557449,ACCT_040819,2025-06-02T17:02:59,9384,UPD,200.00,D,CP_097592
1282322,TXN_18668039,ACCT_101543,2023-04-15T13:28:16,9384,UPC,27800.00,C,CP_008628

In [54]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7424845 entries, 0 to 7424844
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   transaction_id         object
 1   account_id             object
 2   transaction_timestamp  object
 3   mcc_code               int64
 4   channel                object
 5   amount                 float64
 6   txn_type               object
 7   counterparty_id        object
dtypes: float64(1), int64(1), object(6)
memory usage: 453.2+ MB

In [55]:
transactions.isnull().sum()

transaction_id           0
account_id               0
transaction_timestamp    0
mcc_code                 0
channel                  0
amount                   0
txn_type                 0
counterparty_id          0
dtype: int64

In [56]:
transactions.account_id.nunique()

39605

In [57]:
transactions.transaction_id.nunique(), transactions.account_id.nunique()

(7424845, 39605)